<div class="container">
    <div class="d-flex justify-content-center">
        <div class="text-center py-4">
            <h1 class="text-white font-weight-bold">Bookclub Brewery</h1>
        </div>
    </div>
    <div class="d-flex justify-content-center" >
        <div class="col-md-6 col-lg-5">
        <p class="text-center font-weight-bold text-white">We are a place to find books, to create a bookclub, connect at local breweries, cider houses, and/or wineries. Drink, connect, and read good books!</p>
        <div class="form-group py-2">
            <button type="submit" class="form-control btn btn-primary submit">
            <a href="/login" class="text-dark">Get Started</a>
            </button>
        </div>
        </div>
    </div>
</div>  
