<div class="row justify-content-center"> 
<div class="w-50 input-group">
  <input type="search" class="form-control rounded" placeholder="Search here for a book." aria-label="Search." aria-describedby="search-addon" />
  <button type="submit" class="btn btn-primary submit px-3">Search</button>
</div>
</div> 

<div class="container">
  <h1 class="card-heading text-white">Recommended Books</h1>
  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="#" alt="Card image cap">
      <div class="card-body text-center">
        <h5 class="card-title book-title smTitle">Book Title</h5>
        <a href="#" target="_blank" class="btn btn-primary buy">BUY</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="#" alt="Card image cap">
      <div class="card-body text-center">
        <h5 class="card-title">Book Title</h5>
        <a href="#" target="_blank" class="btn btn-primary buy">BUY</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="#" alt="Card image cap">
      <div class="card-body text-center">
        <h5 class="card-title">Book Title</h5>
        <a href="#" target="_blank" class="btn btn-primary buy">BUY</a>
      </div>
    </div>
        <div class="card">
      <img class="card-img-top" src="#" alt="Card image cap">
      <div class="card-body text-center">
        <h5 class="card-title book-title smTitle">Book Title</h5>
        <a href="#" target="_blank" class="btn btn-primary buy">BUY</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="#" alt="Card image cap">
      <div class="card-body text-center">
        <h5 class="card-title">Book Title</h5>
        <a href="#" target="_blank" class="btn btn-primary buy">BUY</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="#" alt="Card image cap">
      <div class="card-body text-center">
        <h5 class="card-title">Book Title</h5>
        <a href="#" target="_blank" class="btn btn-primary buy">BUY</a>
      </div>
  </div>
</div>